<h1>Welcome to tutor tracker website :)</h1>

<header>
	{% if user.is_authenticated %}
		<p>Hi {{user.username}}! </p>
		<a href="{% url 'logout' %}"> logout </a> | <a href="{% url 'user_details' user.pk %}"> Account | </a>
	{% else %}
		<p>You are not logged in </p>
		<a href="{% url 'login'%}"> Login </a> | <a href="{% url 'signup' %}"> Sign Up | </a>
	{% endif %}
	<a href="{% url 'home' %}"> Home </a> | <a href="{% url 'about' %}"> About </a>
</header>

{% block content %}

{% endblock content %}